@{layout('')}
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=0.1">
		<style type="text/css"></style>
		<title>qr_code.png (410×410)</title>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		@{import('meta', 'default.js', 'favicon.ico')}
	</head>
	<body style="margin: 0px; background: #FFF;">
		<div id="qrcode" class="center" style="margin-top: 30px;width: 410px; height: 410px; display: block ;margin-left: calc( 50% - 205px ); background-image: url('@{model.qrcode}');background-size: cover;"></div>
	</body>
</html>